services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: notesApp
      POSTGRES_DB: resolve_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./server
    depends_on:
      - postgres
    restart: always
    environment:
      DATABASE_URL: "postgresql://postgres:notesApp@postgres:5432/resolve_db?schema=public"
      POSTGRES_PRISMA_URL: "postgresql://postgres:notesApp@postgres:5432/resolve_db?schema=public"
      PORT: 4000
    ports:
      - "4000:4000"

  frontend:
    build:
      context: .
      args:
        VITE_API_URL: "http://13.60.185.215:4000"
    depends_on:
      - backend
    ports:
      - "3000:80"
    restart: always

volumes:
  postgres_data:
