services:
  postgres:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: notesApp
      POSTGRES_DB: resolve_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./server
    depends_on:
      - postgres
    restart: always
    environment:
      DATABASE_URL: "postgresql://postgres:notesApp@postgres:5432/resolve_db?schema=public"
      POSTGRES_PRISMA_URL: "postgresql://postgres:notesApp@postgres:5432/resolve_db?schema=public"
      PORT: 4000
    ports:
      - "4000:4000"
    env_file:
      - ./server/.env

  frontend:
    build:
      context: .
    depends_on:
      - backend
    restart: always
    ports:
      - "3000:80"

volumes:
  postgres_data:
